/* .left { float: left;}
.right { float: right;} */
.marketplace-nav {
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
}

.marketplace-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

#main-marketplace-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#marketplace-home-view {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

#marketplace-home-buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

#marketplace-home-buttons img {
    height: 100%;
}
#marketplace-home-view>div {
    height: 100%;
    width: 100%;
}

.link-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.link-image {
    width: 100%;
}

.link-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: .5rem;
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
}

.marketplace-listings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-auto-rows: 200px; */
    gap: .5rem;
    padding: .5rem;
    overflow-y: auto;
}
.marketplace-listings > .card {
    height: min-content;
    background-color: rgba(255, 255, 255, 0.45);
}
* {
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
}
/* .nav-bar-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-view {
    background-image: linear-gradient(
	45deg,
	magenta,
	rebeccapurple,
	dodgerblue,
	green
    );
}

.footer {
    display: flex;
    font-size: 8px;
    justify-content: space-around;
    align-items: center;
    padding-top: .5rem;
} */